{% load static %}
{% load scheduler_extras %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<!-- bootstrap min.css -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<!-- google fonts -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
			<!-- timepicker css -->
			<link type="text/css" href="{% static 'scheduler/timepicker.less' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
			<!-- jquery -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
			<!-- jquery min -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<!-- bootstrap.min.js -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			<!-- timepicker min.js -->
			<script type="text/javascript" src="{% static 'scheduler/bootstrap-timepicker.js' %}"></script>
	</head>
	<div class="header">
		<img src="{% static 'scheduler/kwur.png' %}" class="pagination-centered">
	</div>
	<div class="section">
	<form action="/submit-additional-times/{{dj.id}}" method="post">
		{% csrf_token %}
		<input type="hidden" value="{{ dj.id }}" name="dj">
		<div class="row">
			<p>Sorry! None of your choices are available. Please enter in additional times</p>
			{% if choices %}
				<p>Your previous choice times: </p>
				{% for choice in choices %}
					<p>{{ choice.day | get_day_of_week }} - {{ choice.time }}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div class="form-group">
			<label for="choice_one_day">Choice Day</label>
			<select name='choice_one_day' class="form-control select" id="choice_one_day">
				<option value=""></option>
				<option value=0>Sunday</option>
				<option value=1>Monday</option>
				<option value=2>Tuesday</option>
				<option value=3>Wednesday</option>
				<option value=4>Thursday</option>
				<option value=5>Friday</option>
				<option value=6>Saturday</option>
			</select>
		</div>
		<div class="form-group">
			<div class="input-group bootstrap-timepicker timepicker">
				<label first="choice_one_time">Choice Time A<div class="small">(e.g. 8:00AM or 10:00PM)</div></label>
	            <input name='choice_one_time' id="choice-one-timepicker" type="text" class="form-control time" required>
	        </div>
		</div>
		<div class="form-group">
			<label>Choice Day</label>
			<select name='choice_two_day' class="form-control select">
				<option value=""></option>
				<option value=0>Sunday</option>
				<option value=1>Monday</option>
				<option value=2>Tuesday</option>
				<option value=3>Wednesday</option>
				<option value=4>Thursday</option>
				<option value=5>Friday</option>
				<option value=6>Saturday</option>
			</select>
		</div>
		<div class="form-group">
			<div class="input-group bootstrap-timepicker timepicker">
				<label for="choice_two_day">Choice Time</label>
	            <input name='choice_two_time' id="choice-two-timepicker" type="text" class="form-control time" required>
			</div>
		</div>
		<div class="form-group">
			<label>Choice Day</label>
			<select name='choice_three_day' class="form-control select">
				<option value=""></option>
				<option value=0>Sunday</option>
				<option value=1>Monday</option>
				<option value=2>Tuesday</option>
				<option value=3>Wednesday</option>
				<option value=4>Thursday</option>
				<option value=5>Friday</option>
				<option value=6>Saturday</option>
			</select>
		</div>
		<div class="form-group">
			<div class="input-group bootstrap-timepicker timepicker">
				<label>Choice Time</label>
	            <input name='choice_three_time' id="choice-three-timepicker" type="text" class="form-control time" required>
			</div>
		</div>
		<div class="row">
			<input type="submit" class="btn btn-primary" value="Submit">
		</div>
	</form>
</div>
	<script type="text/javascript">
	    $('#choice-one-timepicker').timepicker();
	    $('#choice-two-timepicker').timepicker();
	    $('#choice-three-timepicker').timepicker();

	    $('#choice-one-timepicker').val('');
	    $('#choice-two-timepicker').val('');
	    $('#choice-three-timepicker').val('');

	     $( "#choice-one-timepicker" ).change(function() {
	    	var firstChoiceTime = $('#choice-one-timepicker').val();
	    	if(firstChoiceTime == "9:00 PM" || firstChoiceTime == "11:00 PM") {
	    		alert("You cannot select this time! Show times are 8-10PM and 10-midnight.");
	    	}
	    });

	    $('#choice-two-timepicker').change(function() {
	    	var secondChoiceTime = $('#choice-two-timepicker').val();
	    	if(secondChoiceTime == "9:00 PM" || secondChoiceTime == "11:00 PM") {
	    		alert("You cannot select this time! Show times are 8-10PM and 10-midnight.");
	    	}
	    });

	    $('#choice-three-timepicker').change(function() {
	    	var thirdChoiceTime = $('#choice-three-timepicker').val();
	    	if(thirdChoiceTime == "9:00 PM" || thirdChoiceTime == "11:00 PM") {
	    		alert("You cannot select this time! Show times are 8-10PM and 10-midnight.");
	    	}
	    });
	</script>
</html>