{% load static %}
{% load scheduler_extras %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
		<!-- bootstrap min.css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<!-- timepicker css -->
		<link type="text/css" href="{% static 'scheduler/timepicker.less' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
		<!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
		<!-- jquery min -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>
	<div class="header">
		<img src="{% static 'scheduler/kwur.png' %}" class="pagination-centered">
	</div>
	<div class="section center">
		<h3>Invalid Login!</h3>
		<h1><b>Get Out</b></h1>
	</div>
</html>