{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}">
	</head>
	<div class="header">
		<img src="{% static 'scheduler/kwur.png' %}">
		{% if potential_results %}
			<p class="thanks">Are any of these Djs you? If so, please go back and fill out the form again with the name listed! If not, please email webmaster@kwur.com </p>
			<ul class="circle" style="padding:0;">
				{% for result in potential_results %}
					<li><p style="font-size: 14px;">{{result}}</p></li>
				{% endfor %}
			</ul>
			<div style="padding: 30px;">
				<a href="{% url 'index' %}">Back to Home Page </a>
			</div>

		{% else %}
			<p class="thanks">Uh oh, it seems like {% if for_crediting %} this dj {% else %} you're {% endif %} not in the database! Please email webmaster@kwur.com for help.</p>
		{% endif %}
	</div>
</html>